*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: black;
}
.dark{
    background-color: black;
    color: white;
}
.red{
    background-color: red;
}
.section{
    margin-top: 200px;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.15px;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col-bla{
    padding: 15px 25px ;
    background-color: black;
    color: rgb(74, 161, 161);
    box-shadow: 5px 5px 5px rgb(43, 36, 36, 0.5);
    transition: 0.5s;
    font-size: 25px;
    
    border-radius: 8px;

}
.col-bla:hover{
    background-color: rgb(40, 197, 197);
    color: black;
    transform: scale(1.1);
}
.col-blow {
    padding: 15px 25px;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgb(43, 36, 36, 0.5);
    transition: 0.5s;
    margin-left: 200px;
    font-size: 25px;
    border-radius: 8px;
  }
.col-blow:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}
.dollar {
    font-size: 30px;
    margin-left: 300px;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 30px;
    position: absolute;
    width: 420px;
    border-radius: 5px;
    background-color: white;
}
.from{
    border: 2px solid #28c5c5;
    width: 650px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 15px rgba(40, 197, 197, 0.5);
}

.input{
    border-bottom: 3px solid rgb(4, 164, 238) ;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 250px;
    height: 30px;
    font-size: 18px;
    color: beige;
    color: white;
    background-color: black;
    padding: 10px 0 10px 20px;
    transition: 0.5s;
}
.sumbit{
    color: white;
    background-color: black;
    padding: 18px 20px;
    border: 1px solid green;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
}
    
.off {
    width: 250px;
    height: 30px;
    margin-left: 20px;
    font-size: 18px;
    padding: 10px 0 10px 20px;
    border-bottom: 3px solid rgb(2, 162, 236) ;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: black;
    color: white;
  }
.from{
    display: flex;
    align-items: center;
}
.uzbek{
    width: 40px;
    position: absolute;
    margin-top: -30px;
}
.som{
    position: absolute;
    color: white;
    margin-top: -60px;
    margin-left: 50px;
}
.amer{
    width: 45px;
    position: absolute;
    margin-top: -15px;
    margin-left: 20px;
}
.doll{
    color: white;
    position: absolute;
    margin-left: 75px;
    margin-top: -15px;
}